@model QuizPortal.Models.Dtos.UserDto
@{
    ViewData["Title"] = "Home";
}

<br />

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>

    <br />

    <img src="~/images/logo.jpg" width="150">
</div>