@model QuizPortal.Models.Dtos.UserDto
@{
    ViewData["Title"] = "Register";
}

<br />

<div class="col-8 offset-2">
    <br />
    <h2 class="text-info" style="text-align:center;">REGISTER</h2>
    <br />

    <div class="border container bg-light" style="padding:30px; border-radius: 20px;">
        <form id="registerForm" method="post" asp-action="Register">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group row">
                <div class="col-2 offset-1">
                    <label asp-for="Username"></label>
                </div>

                <div class="col-8">
                    <input asp-for="Username" placeholder="Enter username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2 offset-1">
                    <label asp-for="Password"></label>
                </div>

                <div class="col-8">
                    <input asp-for="Password" placeholder="Enter password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-3 offset-8">
                    <button type="button" onclick="Register();" class="btn btn-info form-control">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/User.js"></script>
}
